$highlight: #AA0000;

body {
  font-family: "AveriaLibre";
  font-size: 16px;
  // background: #F2f2f2;

}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

p {
  margin-top: 0;
}

h1,
h2 {
  margin: 0;
  color: $highlight;
}

a,
caption {
  color: $highlight
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

img {
  width: 100%;
  margin-bottom: 1em;
}

hr {
  height: 3px;
  $internalRed: #DD0000;
  color: $internalRed;
  background-color: $internalRed;
}

a.bookmark {
  text-decoration: none;
}

%page {
  break-before: page;
}

div.page {
  @extend %page;
}

div.enemy,
div.background {
  @extend %page;
  display: flex;
  flex-direction: row;
  gap: 35px;

  div.text {
    flex: 4;

    p {
      text-align: justify;
    }
  }

  div.info {
    flex: 2;

    p {
      margin: 0;

      span.bold {
        color: $highlight;
      }
    }
  }

  &:nth-child(odd) {
    div.text {
      order: 0;
    }

    div.info {
      order: 1;
    }
  }

  &:nth-child(even) {
    div.text {
      order: 1;
    }

    div.info {
      order: 0;

      p {
        text-align: right;
      }
    }
  }
}

%td {
  border: 1px solid black !important;
  padding: 2px 4px;
}

table {
  width: 100%;
  border-spacing: 0;
  margin-top: 1em;


  caption {
    font-size: 20px;
  }


  &.page {
    border-collapse: collapse;

    thead td,
    tfoot td {
      text-align: center;
      font-size: 80%;
    }

    td {
      border: none;

    }
  }

  &.attack {
    tr:first-child {
      background-color: #AA0000;
      color: white;
    }

    td {
      @extend %td;
      width: 14%;
      text-align: center;
    }
  }

  &.mien {
    td {

      @extend %td;

      &:first-child {
        background-color: $highlight;
        color: white;
        width: 10%;
        text-align: center;
      }
    }
  }
}

ul {
  p {
    margin-bottom: 0;
  }
}