@page {
  size: A4;

  // margin-top: 20px;

  // @top {
  //   /* header with counter functions to insert page counters */
  //   content: "Page " counter(page) " of " counter(pages) " pages "
  // }
}

@media print {
  div.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
  }
  // a.bookmark{
  //   // display: none;
  //   // visibility: hidden;
  //   opacity: 0;
  //   height: 0;
  //   display: block;
  //   // pointer-events: none;
  // }
}